@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font: normal 100%/1.5 sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
    background-color: #ddd
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

    background-color: #fff;
    border-radius: 0.5rem;
}

img {
  display: block;
  width: 100%;
}

.fact{
    margin: 0;
}

.fact>img{
    position: relative;
}

.fact>figcaption {
    position: relative;
    top: -5rem;
    margin: 1rem;
    color: #fff;
    font-family: Georgia, serif; 
    font-style: italic;
}

.name {
    margin: 1.5rem 1rem;
    font-size: 1.25rem;
}

.tbl {
    margin: 0 0 1.5rem;
    overflow: hidden;
}


.col {
    margin: 0 0 2rem;
    padding: 0 1rem;
    width: 33%;
    float: left;
    border-left: solid 1px;
    border-color: #888;
}

.col:first-child {
    border: none;
}

.heading {
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #888;
}

.info {
    font-size: 1rem;
    clear: left;
    display: block;
}